<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccesoDatos.Properties.Settings.cadenaConeccion_BasePruebas"
            connectionString="Data Source=.;Initial Catalog=BasePruebas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>